<div class="messagedefilant">
    <div data-text="Soyez prêts pour l'hiver avec nos manteaux 100% chaud!"><span>Soyez prêts pour l'hiver avec nos manteaux 100% chaud!</span></div>
  </div>
<section class = "trois">
    <div *ngIf="listeManteau && listeManteau.length>0" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
        <mat-card class="example-card" *ngFor="let acategorie of listeManteau | fiter:searchKey:'name'" >
            <img mat-card-image src="{{acategorie.image}}" alt="" height="220px" width="300px">
            <mat-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                    <p id="item">
                        {{acategorie.name}}
                        {{acategorie.prix}}€
                    </p>
                    <button mat-mini-fab>
                        <mat-icon [routerLink]="['/manteau', acategorie.id_article]">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <app-start-rating [note]="acategorie.note"></app-start-rating>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<div class="recommandés">
    <div class="trait1"></div>
    <div class="texte">Recommandé pour vous</div>
    <div class="trait2"></div>
</div>

<section class = "trois">
    <div *ngIf="listeManteau && listeManteau.length>0" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
        <mat-card class="example-card" *ngFor="let acategorie of listeManteau | fiter:searchKey:'name'" >
            <img mat-card-image src="{{acategorie.image}}" alt="" height="220px" width="300px">
            <mat-card-content>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                    <p id="item">
                        {{acategorie.name}}
                        {{acategorie.prix}}€
                    </p>
                    <button mat-mini-fab>
                        <mat-icon [routerLink]="['/manteau', acategorie.id_article]">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <app-start-rating [note]="acategorie.note"></app-start-rating>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<mat-paginator [length]="20" [pageSizeOptions]="[4, 8, 12]" aria-label="Select page">
</mat-paginator>

<div class="art-banner">
    <div class="banner-text">
        <h1>Pour mieux nous connaître</h1>
        <p>A propos de Maven</p>
        <p>Carrières</p>
        <p>Equipes</p>
    </div>
    <div class="banner-text">
        <h1>Moyens de paiment</h1>
        <p>Cartes Maven</p>
        <p>Paiement en plusieurs fois</p>
        <p>Cartes cadeau</p>
    </div>
    <div class="banner-text">
        <h1>Besoin d'aide?</h1>
        <p>Maven is covid</p>
        <p>Options de livraison</p>
        <p>Retours</p>
    </div>
  </div>