.trois{
    padding: 30px;
}
  
.example-card {
    max-width: 200px;
    max-height: 600px;
    background-color: #09133B;
}
  
.example-header-image {
background-size: cover;
}

.mat-card-content {
    text-align: center;
}

/* Texte défilant */
.messagedefilant {
    display: block;
    font-style: italic;
    margin: 40px auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 60px;
  }
   
  .messagedefilant div {
    position: absolute;
    min-width: 100%; /* au minimum la largeur du conteneur */
    color: #09133B;
  }
   
  .messagedefilant div span, 
  .messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    white-space: nowrap;
    top:0;
  }
   
  .messagedefilant div span {
    animation: defilement 10s infinite linear;
  }
   
  .messagedefilant div:after {
    position: absolute;
    top:0; left:0;
    content:attr(data-text);
    animation: defilement2 10s infinite linear;
  }
   
  @keyframes defilement {
    0% { margin-left: 0; }
    100% { margin-left: -100%; }
  }
   
  @keyframes defilement2 {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
  }

  .recommandés{
    margin-top: 40px;
    color:black;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  
  .trait1 {
    margin-right: 20px;
  }
  
  .trait2 {
    margin-left: 20px;
  }
  
  .trait1, .trait2 {
    margin-top: 1.2%;
    margin-bottom: 50px;
    height: 2px;
    width: 200px;
    background-color: gray;
    border-radius: 0.1em;
  }
  
  .art-banner {
    margin-top: 40px;
    background-color: lightgrey;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }
  
  .banner-text {
    color: black;
    padding: 30px;
    font-size: 0.77rem;
    line-height: 1.7;
    overflow: auto;
  }
  