.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 200px;
  margin-top: 4.2%;
  overflow: hidden;

}

.sidenav .mat-toolbar {
  background: inherit;
  overflow: hidden;
}

.mat-list-item:hover{
  cursor: pointer;
  background-color: #A77E7E;
  border-radius: 0.625em;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-chocolat {
  background-color: #A77E7E;
}

.mat-sidenav-container {
  background-color: #F6F1F1;
}

#list {
  flex: 1;
  color: #FAFAFA;
  text-decoration:none;
}

#titre {
  color: #FAFAFA;
  text-decoration:none;
}

.example-spacer {
  flex: 1;
}

.photo{
  padding: 100px;
}


