.item1 {
    background-color:#FAFAFA;
    padding: 30px;
    font-size: 0.77rem;
    line-height: 1.7;
  }

.card_command {
    width: 90%;
    
    margin: auto;
    margin-bottom: 10px ;
}

.parent {
    margin: auto;
    color: black;
    width: 80%;
    padding: 100px;
    display: grid;
    gap: 30px;
  }

  .command_list{
    width: 100%;

    margin-top: 20px;
  }

  .subtitle{
    margin-top: 1cm;
  }

  .mat-divider {
    margin-top: -10px;
    border-top-color: rgba(0, 0, 0, 0.12);
}